@import url('    https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800');

body{
	font-family:'Open Sans', sans-serif;
	color: #333;
	font-size: 14px;
}

#sec-rs{
	background-color: #555;
	color: #fff;
	padding: 10px 0px;
}

#sec-rs .fab{ 
	color: #fff;
}

#sec-rs .fab:hover{
	color:#333;
}

#cities{
	background-image: url(../img/bg-hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 55px;
}



#cities p {
	color: dimgrey;
}

span{
	color: #E96A57;
}

.circulo_azul{
	border-radius: 100%;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
	background-color: #394C9E;
}

.circulo_verde{
	border-radius: 100%;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
	background-color: #498C31;
	
}


.circulo_anaranjado{
	border-radius: 100%;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
	background-color: #CA7716;
	
}

.circulo_amarillo{
	border-radius: 100%;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
	background-color: #D2BC16;
	
}

.services{
	border: solid 3px #B4D0F5;
	background-color: aliceblue;
	padding: 20px;
	
	
}